/*---------------------
        fonts
----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Damion&family=Libre+Baskerville&family=Oleo+Script:wght@400;700&family=Pacifico&family=Playball&family=Poppins:wght@500&family=Spline+Sans&display=swap');
/*--------------------
    common styles 
----------------------*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #fff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 10px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
hr:hover{
    color: rgb(55, 155, 122);
    border: 2px solid;
}

/*--------------------------
    top players style
----------------------------*/
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.players-name{
    margin-left: 16px;
    font-size: 18px;
}
/* ---------------------
    top-blog style 
------------------------*/
.blogs{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.bloge-title{
    font-size: 20px;
}
.bloge-author{
    color: #9F9F9F;
    font-size: 16px;
}
.bloge-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}
/* -----------------------
    Latest courses style
--------------------------- */
.courses{ 
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0.5px 5px 10px 0.5px gray;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.course-duration{
    padding: 5px 10px;
    background-color: rgb(255, 238, 241);
    border-radius: 15px;
    color: rgb(255, 138, 158);
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-title{
    font-size: 21px;
}
/* -------------------------
    Media Queries Responsive
---------------------------- */
/*----- Mobile Devices------- */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
    /* background-color: yellow; */
    grid-template-columns: repeat(1, 1fr);
   }
     /* .player, .blog,{
        flex-direction: column;
   } */
}
/* tablet devices */
@media only screen and (min-width:688px) and (max-width: 992px){
    .container{
        width: 100%;
    }
    .players, .courses{
    /* background-color: yellow; */
    grid-template-columns: repeat(2, 1fr);
   }
    .blogs{
    /* background-color: yellow; */
    grid-template-columns: repeat(1, 1fr);
   }
   /* .player, .blog,{
       flex-direction: column;
   } */
}